<div class="overflow-hidden" style="overflow-x: hidden;"> <!-- Desactivar barra de overscroll horizontal -->
    <div class="relative bg-primary text-primary">
        <!-- Navbar con posición fija -->
        <div class="fixed top-0 left-0 w-full bg-primary shadow-sm px-4 py-3 z-10">
            <ul class="flex list-none p-0 m-0 gap-6">
                <li class="flex items-center scalein animation-duration-1000">
                    <i class="pi pi-home text-primary text-3xl mr-2"></i>
                    <span class="text-lg font-semibold">Inicio</span>
                </li>
                <li class="flex items-center scalein animation-duration-1000">
                    <i class="pi pi-user text-primary text-3xl mr-2"></i>
                    <span class="text-lg font-semibold">Personas</span>
                </li>
                <li class="flex items-center ml-auto scalein animation-duration-1000">
                    <i class="pi pi-sign-out text-primary text-3xl mr-2"></i>
                </li>
            </ul>
        </div>
    </div>
</div>