
<div class="container mt-4">
    <div class="card p-4 shadow">
      <h2 class="text-center mb-4">Registro de Usuario</h2>
      
      <form >
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" formControlName="nombre" 
          class="form-control" id="nombre" formControlName="nombre" placeholder="Escribe tu nombre">
        </div>
  
        <div class="mb-3">
          <label for="correo" class="form-label">Correo Electronico</label>
          <input type="correo" formControlName="correo" 
          class="form-control" id="correo" formControlName="correo" placeholder="Escribe tu email">
        </div>
  
        <div class="mb-3">
          <label for="telefono" class="form-label">Teléfono</label>
          <input type="text" formControlName="telefono"
          class="form-control" id="telefono" formControlName="telefono" placeholder="Tu número de teléfono">
        </div>
  
        <div class="mb-3">
          <label for="edad" class="form-label">Edad</label>
          <input type="number" formControlName="edad"
           class="form-control" id="edad" formControlName="edad" placeholder="Tu edad">
        </div>
  
        <button type="submit" class="btn btn-primary w-100">Enviar</button>
      </form>
    </div>
  </div>