<div class="container">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-6 mt-5 ">
            <div class="col-6 mx-auto text-center m-2">
                <img class="img-fluid" style="border-radius: 50%;  width: 200px; height: 200px; object-fit: cover;" src="https://i.pinimg.com/736x/39/00/94/390094a6a6f17d53e520d8170841cc46.jpg" alt="Logo">
            </div>
            <form action="">
                <div class="col m-2">
                    <div class="mb-3 ">
                        <label for="inputEmail">Correo Electronico</label>
                        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="correo@gmail.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword">Contraseña</label>
                        <input type="password" name="inputPassword" id="inputPassword" class="form-control" required>
                    </div>
                    <div class="d-grid">
                        <button  class="btn btn-primary" type="submit">Iniciar Sesion</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
  </div>