<div class="container">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-6 mt-5 text-primary border-round-sm d-flex flex-column align-items-center justify-content-center">
            <div class="col-6 mx-auto text-center m-2">
                <img class="img-fluid" style="border-radius: 50%; width: 200px; height: 200px; object-fit: cover;" src="https://i.pinimg.com/736x/39/00/94/390094a6a6f17d53e520d8170841cc46.jpg" alt="Logo">
            </div>
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm"  action="" class="w-100">
                <div class="col m-2">
                    <div class="mb-3">
                        <label for="inputEmail">Correo Electrónico</label>
                        <input type="email" name="inputEmail" [(ngModel)]="usuario" 
                        id="inputEmail" class="form-control" placeholder="correo@gmail.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword">Contraseña</label>
                        <input type="password" name="inputPassword" [(ngModel)]="contrasenia" id="inputPassword" class="form-control" required>
                    </div>
                    <div class="d-grid">
                        <button class="btn bg-button bg-button-text" type="submit" [disabled]="loading || loginForm.invalid">Iniciar Sesión</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
