<div class="grid mt-8 mr-8"> <!-- Desactivar overscroll horizontal también en este contenedor -->
    <div class="col-12">
        <app-navbar></app-navbar>
    </div>
    <div class="col-12 mx-auto px-4">
        <table class="table ml-5">
            <thead>
                <tr>
                    <th scope="col">Encabezado 1</th>
                    <th scope="col">Encabezado 2</th>
                    <th scope="col">Encabezado 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fila 1, Columna 1</td>
                    <td>Fila 1, Columna 2</td>
                    <td>Fila 1, Columna 3</td>
                </tr>
                <tr>
                    <td>Fila 2, Columna 1</td>
                    <td>Fila 2, Columna 2</td>
                    <td>Fila 2, Columna 3</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>